%h1.ui-widget-header Wyszukiwanie połączeń
- form_for( :search, :url => "/search/results") do |f|
  .table#search
    .tr
      .td
        %b Od:
      .td
        = text_field "search", "from"
    .tr
      .td
        %b Do:
      .td
        = text_field "search", "to"
    .tr
      .td= " "
    .tr
      .td
        %b Czas:
      .td
        = select "search", :id, ["Odjazdu", "Przyjazdu", "Jakikolwiek"]
        = select "search", :hour, @hours, { :selected => @selected}
    .tr
      .td
        %b Dzień:
      .td#searchDay
        = select "search", :day, ['Dzisiaj', 'Jutro', 'Dzień powszedni', 'Sobota', 'Niedziela' , 'Dokładana data...']
  %p#submit
    = f.submit :Szukaj
    
- content_for :script do
  = render :partial => 'index.js'