-#= error_messages_for @stop
- form_tag(stop_path(@stop['_id']), :method => "put") do
  %p
    = label :stop, :name, "Nazwa"
    = text_field :stop, :name
  %p
    = label :stop, :location, "Ulica"
    = text_field :stop, :location
  %p
    = label :stop, :lat, "Położenie"
    = text_field :stop, :lat
    = text_field :stop, :lng
  %p#submit
    = submit_tag "submit"