= render :partial => 'details'

%p
  %b Odjazdy
  = "(stan na "
  %span#time= @time.strftime("%H:%M")
  = "):"
  
%ul.list.timetables
  - @stop.departures.each do |dep|
    - if dep[:minutes_left].first >= 0
      %li{:title => "kierunek: " + "dep[:timetable].line.direction_name", :id => "timetable_" + dep[:timetable].id.to_s, :rel => (dep[:timetable].nextinline.stop.id.to_s rescue nil)}
        = link_to dep[:line].to_s, line_timetable_path(dep[:timetable].line_id, dep[:timetable]['_id'])
        %ul
          - dep[:minutes_left].each do |min|
            %li
              %span= (@time + 60*min).strftime("%H:%M")
              %span.small= "(#{min} min.)"
%br/

- if current_admin
  %p.admin= link_to 'Edytuj', edit_stop_path( @stop )

%p#navigation
  Nawigacja:
  = link_to 'Strona główna', '/'
  &raquo;
  = link_to 'Spis przystanków', stops_path

- content_for :script do
  = render :partial => 'show.js'