!!! 1.1
%html{:xmlns => "http://www.w3.org/1999/xhtml", 'xml:lang' => "en"}
  %head
    %meta{'http-equiv' => "content-type", :content => "text/html;charset=UTF-8"}/
    %meta{:name => "viewport", :content => "width=device-width"}/
    %title= "Rozkład jazdy #{@line.no} : #{@stop.name}"
    = stylesheet_link_tag "timetables", :media => "screen,print"
    = stylesheet_link_tag "print", :media=>"print"
    = javascript_include_tag 'http://ajax.googleapis.com/ajax/libs/jquery/1.3.2/jquery', 'timetables/show.js'
  %body
    = yield
